.vcdt {
    display: inline-block;
    margin-inline: 40px;
    margin-block: 10px;
    .autdc {
        width: 100%;
    }
    .txtdtc {
    color: rgb(255, 255, 255);
    width: 700px;
    background-color: black;
    margin: 20px;
    padding: 20px;
  }
}
.phistoria {
    display: flex;
    padding: 50px;
    gap: 25px;
    .historiamb {
    width: 600px;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .historiaimg {
    width: 100%;
    height: auto;
    display: block;
  }
}
.fechab {
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
  }
.modelos {
    display: inline-block;
    margin-inline: 1.5%;
    margin-block: 20px;
    background-color: rgb(230, 230, 230);
  }
  .servi {
    list-style-position: inside;
  }
  .servi1 {
    width: 100%;
    background-color: rgb(170, 170, 170);
    padding: 50px;
  }
  .formu {
    font-size: 25px;
    background-color: rgb(170, 170, 170);
    display: inline-block;
    margin-inline: 1.5%;
    margin-block: 50px;
    padding: 50px;
  }